body{
    font-family:$font-family-base;
    line-height:$line-heigt-base;
	font-size: $fz-base;
}
img {
	display: block;  
	max-width: 100%; 
	height: auto;
}
a{
    display: block;
    text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 39px;
}
// font
.fs-sm{
	font-size: $fz-sm;
}
.fs-m{
	font-size: $fz-m;
}
.fs-l{
	font-size: $fz-l;
}
.fs-xl{
	font-size: $fz-xl;
}
.fs-32{
	font-size: 32px;
}
.fs-xxl{
	font-size: $fz-xxl;
}
.fw-n {
	font-weight: normal;
}
.fw-b {
	font-weight: bolder;
} 
// flex 
.d-flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-end{
	justify-content: flex-end;
}
.justify-content-around {
	justify-content: space-around;
}
.align-items-center {
	align-items: center;
}

//排版
.mx-0 {
	margin: 0 auto;
}
// margin-right
.me-48{
	margin-right: 48px;
}
.me-32{
	margin-right: 32px;
}
.me-22{
	margin-right: 22px;
}
// margin-top
.mt-44{
	margin-top: 44px;
}
.mt-42{
	margin-top: 42px;
}
.mt-32{
	margin-top: 32px;
}
.mt-30{
	margin-top: 30px;
}
.mt-24{
	margin-top: 24px;
}
// margin-bottom
.mb-160{
	margin-bottom: 160px;
}
.mb-36{
	margin-bottom: 36px;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-16{
	margin-bottom: 16px;
}

.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.pt-32 {
	padding-top: 32px;
}
.py-40 {
	padding: 48px 0;
}
.py-64 {
	padding: 64px 0;
}
.py-68 {
	padding: 64px 0 80px;
}
.pxy-15 {
	padding: 15px 16px;
}