a{
    display: block;
    text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

// flex 
.d-flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.align-items-center {
	align-items: center;
}

//排版
.mx-0 {
	margin: 0 auto;
}
.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.py-40 {
	padding: 48px 0;
}
.py-64 {
	padding: 64px 0;
}
.py-68 {
	padding: 64px 0 80px;
}
.pxy-15 {
	padding: 15px 16px;
}