.header {
    padding: 30px 56px 30px 88px;
    h1 a {
        background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true")
            no-repeat;
        width: 80px;
        height: 49px;
        @include hide-text;
    }
    li {
        a {
            color: $light;
            font-size: $fz-m;
            padding: 0 32px;
        }
        & a:hover {
            @include a-hover;
        }
    }
}
@include desktop {
    .header {
        padding: 30px 7px 30px 39px;
    }
}
@include pad {
    .header {
        padding: 0;
        flex-direction: column;
        h1 a {
            margin: 10px 0;
        }
        ul {
            width: 100%;
            flex-wrap: wrap;
        }
        li {
            width: 50%;
            outline: 1px solid $light;

            a {
                padding: 8px 0px;
                text-align: center;
            }
        }
    }
}
.footer {
    padding-bottom: 32px ;
    & .footer-left {
        padding-top: 44px;
        li a:hover{
         @include a-hover;
        }
    }
    & .footer-right {
        margin-top: 32px;
    }
    & .footer-content {
        img {
            width: 36px;
            height: 36px;
        }
        a {
            font-size: $fz-xl;
        }
    }
    & .fab {
        font-size: $fz-xxl;
    }
    & .copyRight li a:hover{
        @include a-hover;
    }
}
@include desktop {
    .footer {        
        & .fab {
            font-size: $fz-l;
        }

        & .footer-content {
            img {
                width: 18px;
                height: 18px;
            }
            a {
                font-size: $fz-m;
            }
        }
    }
}
@include pad {
    .footer {
        & .container{
            padding: 0 15px;
        }
        padding-bottom: 24px ;
        & .fab {
            font-size: $fz-l;
        }
        & .footer-list {
            display: none;
        }
        & .footer-content {
            margin-bottom: 12px;
            margin-top: 0;
            img {
                width: 15px;
                height: 15px;
            }
            a {
                font-size: $fz-base;
                line-height: 1.3;
            }
        }
        & .copyRight {
            flex-wrap: wrap;
            ul {
                width: 100%;
                flex-direction: column;
                margin: 0;
            }
            p {
                font-size: $fz-sm;
                word-wrap: nowrap;
            }
            li {
                margin-top: 8px;
                a {
                    font-size: $fz-sm;
                    width: 100%;
                    margin-top: 8px;
                }
            }
        }
        & .footer-media {
            margin-bottom: 42px;
        }
    }
}
