@import "reset";
@import "base";
@import "variable";
@import "layout";
@import "mixin";
@import "grid";





.footer {
  height: 200px;
  background-color: #a1a7dd;
}

.box {
  width: 100px;
  height: 100px;
  background-color: $secondary;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
