@import "reset";
@import "variable";
@import "base";

$color: #00cc99;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #a1a7dd;
}

.box {
  width: 100px;
  height: 100px;
  background-color: $secondary;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
